@page "/SignaturePad"
@inject IJSRuntime JS
@using Blazor.Canvas.Model.Models
<div>
    <canvas width="300" height="200" id="theCanvas"
        style="border: 1px solid red;"
    ></canvas>
</div>
<hr />
<div>
    <button type="button" class="button" @onclick="UndoClickAsync">Undo</button>
    <button type="button" class="button" @onclick="RedoClickAsync">Redo</button>
    <button type="button" class="button" @onclick="ClearClickAsync">Clear</button>
    <button type="button" class="button" @onclick="SaveClickAsync">Save</button>
    <input type="range" max="5" min="0.1" step="0.1" @bind="@Thickness" @bind:event="oninput" @bind:after="ChangeThicknessAsync" />
    <input type="color" @bind="@Color" @bind:event="oninput" @bind:after="ChangeColorAsync" />
</div>
<hr />
@code {
    private string ImageData { get; set; } = string.Empty;
    private double Thickness { get; set; } = 0.1;
    private string Color { get; set; } = string.Empty;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JS.InvokeAsync<object>("blSignaturePad", "theCanvas");
        }
    }

    //private string ImageDataSrc = string.Empty;
    //public void GetData()
    //{
    //    ImageDataSrc = SignaturePad.GetDataAsync();
    //}
    //private static string GetDataAsync()
    //{
    //    return ImageDataJS;
    //}
    //private static string ImageDataJS = string.Empty;
    //[JSInvokable]
    //public static void GetImageDataAsync(string imageData)
    //{
    //    ImageDataJS = imageData;
    //}
    private async void ClearClickAsync()
    {
        using var db = new BloggingContext();

        // Note: This sample requires the database to be created before running.
        Console.WriteLine($"Database path: {db.DbPath}.");

        // Create
        Console.WriteLine("Inserting a new blog");
        db.Add(new Blog { Url = "http://blogs.msdn.com/adonet" });
        try{
            db.SaveChanges();
        }
        catch(Exception ex)
        {
            string a = ex.ToString();
        }

        // Read
        Console.WriteLine("Querying for a blog");
        var blog = db.Blogs
            .OrderBy(b => b.BlogId)
            .First();

        // Update
        Console.WriteLine("Updating the blog and adding a post");
        blog.Url = "https://devblogs.microsoft.com/dotnet";
        blog.Posts.Add(
            new Post { Title = "Hello World", Content = "I wrote an app using EF Core!" });
        db.SaveChanges();

        // Delete
        Console.WriteLine("Delete the blog");
        db.Remove(blog);
        db.SaveChanges(); await JS.InvokeAsync<object>("blClearButton");
    }
    private async void SaveClickAsync()
    {
        var a = await JS.InvokeAsync<object>("blToData");
        this.ClearClickAsync();
    }
    private async void UndoClickAsync()
    {
        await JS.InvokeAsync<object>("blUndoButton");
    }
    private async void RedoClickAsync()
    {
        await JS.InvokeAsync<object>("blRedoButton");
    }
    private async void ChangeColorAsync()
    {
        await JS.InvokeAsync<object>("blChangeColor", Color);
    }
    private async void ChangeThicknessAsync()
    {
        await JS.InvokeAsync<object>("blChangeThickness", Thickness);
    }
}
