@page "/SignaturePad"
@inject IJSRuntime JS

<div>
    <canvas width="300" height="200" id="theCanvas"
        style="border: 1px solid red;"
    ></canvas>
</div>
<hr />
<div>
    <button type="button" class="button" @onclick="UndoButtonClickAsync">Undo</button>
    <button type="button" class="button" @onclick="ClearButtonClickAsync">Clear</button>
    <button type="button" class="button" @onclick="ChangeColorButtonClickAsync">Change Color</button>
    <input type="range" max="10" min="1" step="1" @bind="@minThickness" @bind:event="ThicknessChangeAsync" />
    <input type="range" max="10" min="1" step="1" @bind="@maxThickness" @bind:event="ThicknessChangeAsync" />
</div>
<hr />
@code {
    private string ImageData { get; set; } = string.Empty;
    private int minThickness { get; set; } = 1;
    private int maxThickness { get; set; } = 1;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JS.InvokeAsync<object>("blSignaturePad", "theCanvas");
        }
    }

    private string ImageDataSrc = string.Empty;
    public void GetData()
    {
        ImageDataSrc = SignaturePad.GetDataAsync();
    }
    private static string GetDataAsync()
    {
        return ImageDataJS;
    }
    private static string ImageDataJS = string.Empty;
    [JSInvokable]
    public static void GetImageDataAsync(string imageData)
    {
        ImageDataJS = imageData;
    }
    private async void ClearButtonClickAsync()
    {
        await JS.InvokeAsync<object>("blClearButton");
    }
    private async void UndoButtonClickAsync()
    {
        await JS.InvokeAsync<object>("blUndoButton");
    }
    private async void ChangeColorButtonClickAsync()
    {
        await JS.InvokeAsync<object>("blChangeColorButton");
    }
    private async void ThicknessChangeAsync()
    {
        await JS.InvokeAsync<object>("blThicknessChange", minThickness, maxThickness);
    }
}
