@page "/SignaturePad"
@inject IJSRuntime JS

<div>
    <canvas width="300" height="200" id="theCanvas"
        style="border: 1px solid red;"
    ></canvas>
</div>
<hr />
<div>
    <button type="button" class="button" data-action="undo" @onclick="UndoClick">Undo</button>
</div>
<hr />
@code {
    private string ImageData { get; set; } = string.Empty;
    private object jsSignaturePad { get; set; } = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            jsSignaturePad = await JS.InvokeAsync<object>("BlazorSignaturePad", "theCanvas");
        }
    }

    private string ImageDataSrc = string.Empty;
    public void GetData()
    {
        ImageDataSrc = SignaturePad.GetDataAsync();
    }
    private static string GetDataAsync()
    {
        return ImageDataJS;
    }
    private static string ImageDataJS = string.Empty;
    [JSInvokable]
    public static void GetImageDataAsync(string imageData)
    {
        ImageDataJS = imageData;
    }
    private async void ClearButtonClickAsync()
    {
        await JS.InvokeAsync<object>("BlazorUndoButton", "theCanvas");
    }
    private async void UndoClick()
    {
        try
        {
            await JS.InvokeAsync<object>("BlazorUndoButton", jsSignaturePad);
        }
        catch (Exception ex)
        {       
            throw;
        }
    }
}
